:root {
  --primary-light-green: #819B57;
  --primary-light: #FAF4EA;
  --primary-dark-brown: #31261A;
  --secondary-light: #CFCFBC;
  --secondary-dark-green: #465929;
  --secondary-light-brown: #A18268;
  ;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;