.button {
  display: block;
  color: var(--primary-light);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-light-green);
  border: 2px solid var(--primary-light-green);
  border-radius: 8px;
  padding: 10px 24px;
  cursor: pointer;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: transparent;
    color: var(--secondary-dark-green);
  }

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    padding: 16px 32px;
  }
}


.carousel-button {
  width: 44px;
  height: 44px;
  border: 1px solid var(--primary-dark-brown);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-light);
  fill: var(--primary-dark-brown);
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color .3s, fill .3s;

  &--left {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: var(--primary-dark-brown);
    fill: var(--primary-light);
  }
}