.footer {
  padding: 32px 0;
  background-image: url(../images/footer-back.png);
  background-color: var(--primary-dark-brown);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav,
  &__address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
  }

  &__item {
    flex-grow: 1;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__address-list {
    margin-left: 14px;
  }

  &__icon {
    fill: var(--primary-light);
  }

  &__address-privacy {
    display: flex;
    justify-content: flex-end;
  }

  &__privacy {
    margin-bottom: 16px;
  }

  &__address-copyright {
    font-size: 14px;
    color: var(--secondary-light-brown);
  }

  &::before {
    content: url(../images/bread-one.png);
    position: absolute;
    bottom: -8px;
    left: 0;
  }
  
  &::after {
    content: url(../images/bread-two.png);
    position: absolute;
    right: 0;
    bottom: -8px;
  }
}
















