.traditions-section {
  padding-top: 96px;

  &__flex {
      display: flex;
      gap: 40px;
      justify-content: space-between;
    }

    &__content {
      max-width: 640px;
    }

    &__title {
      margin-bottom: 42px;
    }

    &__text {
      margin-bottom: 42px;
      &--limited {
        max-width: 346px;
      }
    }

    &__text:last-child {
      margin-bottom: 0;
    }

    &__photo {
      border-radius: 400px 400px 0 0;
    }
  }









