.traditions-section {
  padding-top: 40px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 96px;
  }

  &__flex {
      display: flex;
      gap: 40px;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__content {
      max-width: 640px;
    }

    &__title {
      text-align: center;
      margin-bottom: 42px;

      @media screen and (min-width: $bp-tablet) {
        text-align: start;
      }
    }

    &__text {
      margin-bottom: 42px;

      &--limited {
        @media screen and (min-width: $bp-tablet) {
        max-width: 346px;
        }
      }
    }

    &__text:last-child {
      margin-bottom: 0;
    }

    &__photo {
      display: none;
      border-radius: 400px 400px 0 0;

      @media screen and (min-width: $bp-tablet) {
        display: block;
      }
    }
  }









